.check {
    position: absolute;
    right: 10px;
    color: green;
}

.task-item + .task-item {
    margin-top: 10px;
}

.field__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.offset-top {
    margin-top: 25px;
}

.ui.three.offset {
    margin-top: 25px;
    margin-bottom: 25px;
}

.login-button-container {
    display: flex;
    justify-content: flex-end;
}

.buttons-container {
    margin-top: 15px;
}

.primary.button.edit-button {
    margin-top: 25px;
}